.editor-statistic-page {
}

.braft-modal-footer{
  text-align: center;
}

.braft-modal-addon-text{
  display: none;
}

.braft-modal-buttons{
  float: none;
}

.braft-modal-body{
  .search-modal-content{
    padding: 15px;

    .s-form-group{
      margin-top: 10px;
      text-align: center;
    }
  }
}

.next-menu.ver.next-overlay-inner{
  z-index: 100000;
}
